In [73]:
import googlemaps
import sqlite3, json, time, requests
import pandas as pd

key = 'AIzaSyD05x7r6x5SoT-cFGSuodvi_pwEuzqJS_s'
req_url = 'https://maps.googleapis.com/maps/api/geocode/json?address={}&key={}'

      
conn = sqlite3.connect('clinic_data.db')
cur = conn.cursor()

query = '''SELECT address, id FROM clinics'''
df = pd.read_sql(query,conn)

#cur.execute('DROP TABLE IF EXISTS clinic_latlng')
#cur.execute('''CREATE TABLE clinic_latlng (lat FLOAT, lng FLOAT, clinic_id INTEGER )''')
conn.commit()
cur.close()


for index,row in df.iterrows():
    #time.sleep(3)
    addr = row['address']
    clinic_id = row['id']
    
    conn = sqlite3.connect('clinic_data.db')
    cur = conn.cursor()
    cur.execute('SELECT * from clinic_latlng WHERE clinic_id=?',(clinic_id,))
    check = cur.fetchone()
    if check is not None:
        print('clinic inserted')
        continue
    cur.close()
    
    geocode_url = req_url.format(addr,key)
    results = requests.get(geocode_url)
    response = results.json()
    try:
        lat = response['results'][0]['geometry']['location']['lat']
        lng = response['results'][0]['geometry']['location']['lng']
    except IndexError:
        hash_ind = addr.find('#')
        end_unit = addr.find(',',hash_ind)
        addr = addr[0:hash_ind] + addr[end_unit:]
        print(clinic_id, addr)
        
    conn = sqlite3.connect('clinic_data.db')
    cur = conn.cursor()
    cur.execute('INSERT INTO clinic_latlng (lat,lng,clinic_id) VALUES (?,?,?)',
                (lat,lng,clinic_id))
    conn.commit()
    cur.close()

clinic inserted
clinic inserted
clinic inserted
clinic inserted
clinic inserted
clinic inserted
clinic inserted
clinic inserted
clinic inserted
clinic inserted
clinic inserted
clinic inserted
clinic inserted
clinic inserted
clinic inserted
clinic inserted
clinic inserted
clinic inserted
clinic inserted
clinic inserted
clinic inserted
clinic inserted
clinic inserted
clinic inserted
clinic inserted
clinic inserted
clinic inserted
clinic inserted
clinic inserted
clinic inserted
clinic inserted
clinic inserted
clinic inserted
clinic inserted
clinic inserted
clinic inserted
clinic inserted
clinic inserted
clinic inserted
clinic inserted
clinic inserted
clinic inserted
clinic inserted
clinic inserted
clinic inserted
clinic inserted
clinic inserted
clinic inserted
clinic inserted
clinic inserted
clinic inserted
clinic inserted
clinic inserted
clinic inserted
clinic inserted
clinic inserted
clinic inserted
clinic inserted
clinic inserted
clinic inserted
clinic inserted
clinic inserted
clinic inserted
clinic inserted
clinic inserted
clinic inserted
clinic inserted
clinic inserted
clinic inserted
clinic inserted
clinic inserted
clinic inserted
clinic inserted
clinic inserted
clinic inserted
clinic inserted
clinic inserted
clinic inserted
clinic inserted
clinic inserted
clinic inserted
clinic inserted
clinic inserted
clinic inserted
clinic inserted
clinic inserted
clinic inserted
clinic inserted
clinic inserted
clinic inserted
clinic inserted
clinic inserted
clinic inserted
clinic inserted
clinic inserted
clinic inserted
clinic inserted
clinic inserted
clinic inserted
clinic inserted
clinic inserted
clinic inserted
clinic inserted
clinic inserted
clinic inserted
clinic inserted
clinic inserted
clinic inserted
clinic inserted
clinic inserted
clinic inserted
clinic inserted
clinic inserted
clinic inserted
clinic inserted
clinic inserted
clinic inserted
clinic inserted
clinic inserted
clinic inserted
clinic inserted
clinic inserted
clinic inserted
clinic inserted
clinic inserted
clinic inserted
clinic inserted
clinic inserted
clinic inserted
clinic inserted
clinic inserted
clinic inserted
clinic inserted
clinic inserted
clinic inserted
clinic inserted
clinic inserted
clinic inserted
clinic inserted
clinic inserted
clinic inserted
clinic inserted
clinic inserted
clinic inserted
clinic inserted
clinic inserted
clinic inserted
clinic inserted
clinic inserted
clinic inserted
clinic inserted
clinic inserted
clinic inserted
clinic inserted
clinic inserted
clinic inserted
clinic inserted
clinic inserted
clinic inserted
clinic inserted
clinic inserted
clinic inserted
clinic inserted
clinic inserted
clinic inserted
clinic inserted
clinic inserted
clinic inserted
clinic inserted
clinic inserted
clinic inserted
clinic inserted
clinic inserted
clinic inserted
clinic inserted
clinic inserted
clinic inserted
clinic inserted
clinic inserted
clinic inserted
clinic inserted
clinic inserted
clinic inserted
clinic inserted
clinic inserted
clinic inserted
clinic inserted
clinic inserted
clinic inserted
clinic inserted
clinic inserted
clinic inserted
clinic inserted
clinic inserted
clinic inserted
clinic inserted
clinic inserted
clinic inserted
clinic inserted
clinic inserted
clinic inserted
clinic inserted
clinic inserted
clinic inserted
clinic inserted
clinic inserted
clinic inserted
clinic inserted
clinic inserted
219 2100 E 112th Ave , Northglenn, CO
clinic inserted
clinic inserted
clinic inserted
clinic inserted
clinic inserted
clinic inserted
clinic inserted
clinic inserted
clinic inserted
clinic inserted
clinic inserted
clinic inserted
clinic inserted
clinic inserted
clinic inserted
clinic inserted
clinic inserted
clinic inserted
clinic inserted
clinic inserted
clinic inserted
clinic inserted
clinic inserted
clinic inserted
clinic inserted
clinic inserted
clinic inserted
clinic inserted
clinic inserted
clinic inserted
clinic inserted
clinic inserted
clinic inserted
clinic inserted
clinic inserted
clinic inserted
clinic inserted
clinic inserted
clinic inserted
clinic inserted
clinic inserted
clinic inserted
clinic inserted
clinic inserted
clinic inserted
clinic inserted
clinic inserted
clinic inserted
clinic inserted
clinic inserted
clinic inserted
clinic inserted
clinic inserted
clinic inserted
clinic inserted
clinic inserted
clinic inserted
clinic inserted
clinic inserted
clinic inserted
clinic inserted
clinic inserted
clinic inserted
clinic inserted
clinic inserted
clinic inserted
clinic inserted
clinic inserted
clinic inserted
clinic inserted
clinic inserted
clinic inserted
clinic inserted
clinic inserted
clinic inserted
clinic inserted
clinic inserted
clinic inserted
clinic inserted
clinic inserted
clinic inserted
clinic inserted
clinic inserted
clinic inserted
clinic inserted
clinic inserted
clinic inserted
clinic inserted
clinic inserted
clinic inserted
clinic inserted
clinic inserted
clinic inserted
clinic inserted
clinic inserted
clinic inserted
clinic inserted
clinic inserted
clinic inserted
clinic inserted
clinic inserted
clinic inserted
clinic inserted
clinic inserted
clinic inserted
clinic inserted
clinic inserted
clinic inserted
clinic inserted
clinic inserted
clinic inserted
clinic inserted
clinic inserted
clinic inserted
clinic inserted
clinic inserted
clinic inserted
clinic inserted
clinic inserted
clinic inserted
clinic inserted
clinic inserted
clinic inserted
clinic inserted
clinic inserted
clinic inserted
clinic inserted
clinic inserted
clinic inserted
clinic inserted
clinic inserted
clinic inserted
clinic inserted
clinic inserted
clinic inserted
clinic inserted
clinic inserted
clinic inserted
clinic inserted
clinic inserted
clinic inserted
clinic inserted
clinic inserted
clinic inserted
clinic inserted
clinic inserted
clinic inserted
clinic inserted
clinic inserted
clinic inserted
clinic inserted
clinic inserted
clinic inserted
clinic inserted
clinic inserted
clinic inserted
clinic inserted
clinic inserted
clinic inserted
clinic inserted
clinic inserted
clinic inserted

In [1]:
import pandas as pd
import sqlite3
import numpy

conn = sqlite3.connect('clinic_data.db')
cur = conn.cursor()
cur.execute('DROP TABLE IF EXISTS clinic_means')
cur.execute('CREATE TABLE clinic_means (mean FLOAT, clinic_ID INTEGER)')
# LA
la_q = '''SELECT clinics.id, clinic_menus_LA.price FROM clinics JOIN clinic_menus_LA 
        ON clinics.id = clinic_menus_LA.clinic_id'''
df_la = pd.read_sql(la_q,conn)
# San Fran
sf_q = '''SELECT clinics.id, clinic_menus_SF.price FROM clinics JOIN clinic_menus_SF 
        ON clinics.id = clinic_menus_SF.clinic_id'''
df_sf = pd.read_sql(sf_q,conn)
# Phoenix
az_q = '''SELECT clinics.id, clinic_menus_AZ.price FROM clinics JOIN clinic_menus_AZ 
        ON clinics.id = clinic_menus_AZ.clinic_id'''
df_az = pd.read_sql(az_q,conn)
# Las Vegas
lv_q = '''SELECT clinics.id, clinic_menus_LV.price FROM clinics JOIN clinic_menus_LV 
        ON clinics.id = clinic_menus_LV.clinic_id'''
df_lv = pd.read_sql(lv_q,conn)
# Denver
den_q = '''SELECT clinics.id, clinic_menus_DEN.price FROM clinics JOIN clinic_menus_DEN 
        ON clinics.id = clinic_menus_DEN.clinic_id'''
df_den = pd.read_sql(den_q,conn)
# Seattle
sea_q = '''SELECT clinics.id, clinic_menus_SEA.price FROM clinics JOIN clinic_menus_SEA 
        ON clinics.id = clinic_menus_SEA.clinic_id'''
df_sea = pd.read_sql(sea_q,conn)
# Portland
por_q = '''SELECT clinics.id, clinic_menus_POR.price FROM clinics JOIN clinic_menus_POR
        ON clinics.id = clinic_menus_POR.clinic_id'''
df_por = pd.read_sql(por_q,conn)
# Baltimore
bal_q = '''SELECT clinics.id, clinic_menus_BAL.price FROM clinics JOIN clinic_menus_BAL 
        ON clinics.id = clinic_menus_BAL.clinic_id'''
df_bal = pd.read_sql(bal_q,conn)

frames = [df_la, df_sf, df_az, df_lv, df_den, df_sea, df_por, df_bal]
main_df= pd.concat(frames)

In [11]:
# Remove dollar sign to calculate mean
main_df['clean_price'] = main_df.apply(remove_dollar_sign, axis = 1)
# create clinic_id list for mask and iterator
clinic_ids = numpy.unique(main_df['id'].tolist())

for eyed in clinic_ids:
    mask = main_df['id'] == eyed
    clinic_df = main_df[mask]
    clinic_mean = clinic_df["clean_price"].mean()
    clinic_mean = "{0:.2f}".format(round(clinic_mean,2))
    cur.execute('INSERT INTO clinic_means (mean,clinic_id) VALUES (?,?)',(clinic_mean, int(eyed)))
conn.commit()
cur.close()

In [10]:
def remove_dollar_sign(row):
    dllr_ind = row['price'].find('$')
    return float(row['price'][dllr_ind+1:])

In [23]:
conn = sqlite3.connect('clinic_data.db')
mean_df = pd.read_sql('SELECT * FROM clinic_means', conn)


conn.close()
print(mean_df.describe())
mask = mean_df['mean'] == 35
mean_df[mask]

             mean   clinic_ID
count  153.000000  153.000000
mean    38.773725  155.738562
std     12.162832  115.428365
min      7.340000    1.000000
25%     32.060000   50.000000
50%     38.430000  142.000000
75%     47.310000  245.000000
max     70.000000  401.000000

     mean  clinic_ID
16   35.0         21
98   35.0        219
115  35.0        246
118  35.0        250
119  35.0        251

In [3]:
import googlemaps
import sqlite3, json, time, requests
import pandas as pd

conn = sqlite3.connect('clinic_data.db')


q = '''SELECT clinic_latlng.lat, clinic_latlng.lng, clinic_means.mean FROM clinic_latlng,
    clinic_means WHERE clinic_latlng.clinic_id = clinic_means.clinic_id'''
df = pd.read_sql(q,conn)
save = df.to_csv('plot_clinic_data.csv')

In [91]:
cur.close()